{% extends "base3.html" %}

{% block sidebar %}
		<ul>
		<li><a href="/doctor/{{practitioner.id}}/all">Patients</a></li>
		</ul>
		{% endblock %}


{% block content %}

 <section id="container">
               <div class="container">
<div class="row">

                <div class="wrap-container clearfix">
                    <div class="zerogrid">
                    <br>
            <div class="col-lg-12">
            <h1 class="page-header">Patient Id:
                    <small>{{patient.Patient_ID}}</small>
                </h1>
 </div>
        </div>
        <div class="row">

            <div class="col-md-8">
            {% if patient.Credential %}
                <a href="/static/{{patient.Credential}}" target="_blank"><img class="img-responsive" src="/static/{{patient.Credential}}" width="500" alt=""></a>
                {% endif %}
            </div>
          <div class="col-md-4">
          <h3>Brief Detail:</h3>
           <p>{{patient.Patient_History}}</p>  
             <br>
           
           <h3>Past Reports</h3>
           <br>

           <ul class="list-group">

 {% for date in dates %}
  <a href="/static/{{date.Credential}}"  target="_blank" class="list-group-item info">
    {{ date.Date_Of_Upload }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{date.Description}} 
  </a>
  {% endfor %}
  </ul>

</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}