{% extends "base3.html" %}

{% block sidebar %}

{% endblock %}



{% block content %}
<style>
.well-sm{
background-color:#ffccff;
}


#DateOfBirth{
background-color:;
width :30%;
}
#Contact{
background-color:;
width: 35%;
}
#PatientId{
background-color:	;
width:35% ;
}


</style>
<section id="container">
                <div class="wrap-container clearfix">
                    <div class="zerogrid">
                    <br>
                    <br>
<div class="container">
 	<div class="row">
 		<div class="col-lg-3">

    <ul class="btn btn-danger">
    	<li ><a href="/doctor/{{userid}}/all" >Back</a></li>
   </div>

<div class="col-lg-6">
 <div class="well well-sm">
 <h1>List of appointments</h1>
</div>

<table class="table table-striped">
<thead>
      <tr>
    
        <th id="DateOfBirth">Date Of Birth</th>
        <th id="Contact">Contact</th>
        <th id="PatientId">Patient Id</th>
      </tr>
    </thead>
</table>


{% for rp in RequiredPatient %}
<div>
<table class="table table-striped">
    
    <tbody>
      <tr>
        
        <td id="DateOfBirth"><p>{{rp.DateOfBirth}}</p></td>
        <td id="Contact"><p>{{rp.Contact}}</p></td>
        <td id="PatientId"><p>{{rp.PatientId}}</p></td>
      </tr>
</tbody>
</table>











{% endfor %}
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}



