<!doctype html>
<html>
<head>
    <title>Availability Of Doctors</title>
    <style type="text/css">
    body
    {
        font-family: arial;
    }

    th,td
    {
        margin: 0;
        text-align: center;
        border-collapse: collapse;
        outline: 1px solid #e3e3e3;
    }

    td
    {
        padding: 5px 10px;
    }

    th
    {
        background: #666;
        color: white;
        padding: 5px 10px;
    }

    td:hover
    {
        cursor: pointer;
        background: #666;
        color: yellow;
    }
    </style>

</head>
<body> <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Availability of Doctors</h1>
    <table width="80%" align="center" >
    <div id="head_nav">
    <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thrusday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
</div>  

    <tr>
        <th>10:00am - 12:00pm</th>
        
            <td>{{schedule.r00}}</td>
            <td>{{schedule.r01}}</td>
            <td title="No Class" class="Holiday"></td>
            <td>{{schedule.r03}}</td>
            <td>{{schedule.r04}}</td>
            <td>{{schedule.r05}}</td>
        </div>
    </tr>

    <tr>
        <th>12:00pm - 02:00pm</td>
        
            <td>{{schedule.r10}}</td>
            <td>{{schedule.r11}}</td>
            <td>{{schedule.r12}}</td>
            <td>{{schedule.r13}}</td>
            <td>{{schedule.r14}}</td>
            <td>{{schedule.r15}}</td>
        </div>
    </tr>

    <tr>
        <th>02:00pm - 04:00pm</td>
        
            <td>{{schedule.r20}}</td>
            <td>{{schedule.r21}}</td>
            <td>{{schedule.r22}}</td>
            <td>{{schedule.r23}}</td>
            <td>{{schedule.r24}}</td>
            <td>{{schedule.r25}}</td>

        </div>
    </tr>

    <tr>
        <th>04:00pm - 06:00pm</td>
        
            <td>{{schedule.r30}}</td>
            <td>{{schedule.r31}}</td>
            <td>{{schedule.r32}}</td>
            <td>{{schedule.r33}}</td>
            <td>{{schedule.r34}}</td>
            <td>{{schedule.r35}}</td>

        </div>
    </tr>

    <tr>
        <th>06:00pm - 08:00pm</td>
        
            <td>{{schedule.r40}}</td>
            <td>{{schedule.r41}}</td>
            <td>{{schedule.r42}}</td>
            <td>{{schedule.r43}}</td>
            <td>{{schedule.r44}}</td>
            <td>{{schedule.r45}}</td>
        </div>
    </tr>

       <tr>
        <th>08:00pm - 10:00pm</td>
        
            <td>{{schedule.r50}}</td>
            <td>{{schedule.r51}}</td>
            <td>{{schedule.r52}}</td>
            <td>{{schedule.r53}}</td>
            <td>{{schedule.r54}}</td>
            <td>{{schedule.r55}}</td>
        </div>
    </tr>
</table>