{% extends "base.html" %}



{% block sidebar %}

<li><a href="/inventory/all_med">View All Medicines</a></li>
<li><a href="/inventory/create">Add Medicines</a></h2></li>
<li><a href="/inventory/outGoingPatients">Out Going Patients</a></h2></li>
<li><a href="/inventory/refillMedicines">Refill Medicines</a></li>

{% endblock %}

{% block content %}
<h1>Welcome to inventory</h1>

<h3>Search Medicines</h3>
{% csrf_token %}
<input type="text" id="search" name="search"/>
<ul id="search-results">

</ul>

{% endblock %}